body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
